.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.payment_section{
    width: 100%;
    margin-bottom: 20px;
}

.delivery{
    width: 100%;
}

.payment_items{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.payment_title{
   margin:10px 0 
}

.delivery label{
    display:block;
    margin:10px 0;
    font-weight:bold;
}

.delivery > input{
    display: block;
    width: 100%;
    padding:10px; 
    margin-bottom: 20px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.delivery > button{
   background-color:#32ae42 ;
   border: 1px solid #217d21;
   border-radius: 5px;
   padding: 10px;
   cursor: pointer;
   color: #111;
   font-weight: bold;
   font-size: 16px;
   transition: all 0.3s ease;
} 

.delivery button:hover {
    background-color: #ddb347;
    border: 1px solid #9c7e31;
  }



  /* In the CSS code given above, transition: all 0.3s ease; is used to apply a transition effect to all CSS properties with a duration of 0.3 seconds and an easing function of "ease" (which means the transition starts slowly, accelerates in the middle, and slows down again at the end). */