.payment{
    background-color: white;
}

.payment_container > h1 {
    text-align:center;
    padding: 10 px;
    font-weight:400;
    background-color: rgb(234, 237, 237);
    border-bottom: 1px solid lightgray;
}

.payment_container > h1 a{
    text-decoration: none;
}

.pay_on_delivery{
    padding: 2 px;
    font-weight:10;
    border-bottom: 1px solid lightgray;
}

.payment_section {
    display:flex;
    padding: 20 px;
    margin: 0 20px;
    border-bottom: 1px solid lightgray;
}

.payment_address, .payment_items, .payment_details{
   margin:20px 0;
   margin-left: 5px;
}

.payment_details > form{
    max-width:400px;
}

.payment_details > h3{
    padding-bottom: 20px;
}

.payment_details > form > div > button {
    background-color: #188635;
    border-radius:  2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    font-weight: bolder;
    margin-top: 10px;
    border-color:rgb(31, 172, 96) rgb(19, 110, 45) rgb(11, 91, 49);
    color:#111;
    cursor: pointer;
}